.version.olzhakz______ /* version checker */
{
	color: #000013;
	background-color: #F50671;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1113.9999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 29px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu1080
{
	width: 0.01px;
	margin-left: 20px;
}

#u1080
{
	z-index: 126;
	width: 9px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1080:hover
{
	width: 9px;
	height: 47px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#pu1046-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 455px;
}

#u1046-4
{
	z-index: 129;
	width: 127px;
	min-height: 23px;
	background-color: transparent;
	line-height: 25px;
	text-align: right;
	color: #4C4C4C;
	font-family: days-one, sans-serif;
	font-weight: 700;
	margin-left: 175px;
	position: relative;
}

#u1048-4
{
	z-index: 137;
	width: 302px;
	min-height: 40px;
	background-color: transparent;
	line-height: 36px;
	color: #29ABE2;
	font-size: 30px;
	text-align: right;
	font-family: days-one, sans-serif;
	font-weight: 400;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1081
{
	z-index: 125;
	width: 60px;
	height: 58px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 782px;
	background: #67ABEA url("../images/twitter.png") no-repeat center center;
}

#u1047
{
	z-index: 128;
	width: 60px;
	height: 58px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 852px;
	background: #DD4139 url("../images/pinterest.png") no-repeat center center;
}

#u1082
{
	z-index: 127;
	width: 60px;
	height: 58px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 920px;
	background: #5067C4 url("../images/facebook.png") no-repeat center center;
}

#u1081:hover,#u1047:hover,#u1082:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1045-4
{
	z-index: 133;
	width: 238px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	color: #4C4C4C;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 24px;
}

#u1050-4
{
	z-index: 141;
	width: 240px;
	min-height: 48px;
	background-color: transparent;
	line-height: 43px;
	color: #000000;
	font-size: 36px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 22px;
}

#u1049
{
	z-index: 99;
	min-height: 46px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 9px;
}

#u1049_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#menuu1051
{
	z-index: 100;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 120px;
}

#u1066
{
	width: 230px;
	min-height: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1067
{
	width: 230px;
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
}

#u1067:hover
{
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#u1068-4
{
	width: 230px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u1067:hover #u1068-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 230px;
	margin: 0px -10000px 0px 0px;
}

#u1067:hover #u1068-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1052
{
	width: 230px;
	min-height: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u1053
{
	width: 230px;
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
}

#u1067.MuseMenuActive,#u1053.MuseMenuActive
{
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#u1054-4
{
	width: 230px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u1067.MuseMenuActive #u1068-4,#u1053:hover #u1054-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 230px;
	margin: 0px -10000px 0px 0px;
}

#u1053.MuseMenuActive #u1054-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 230px;
	margin: 0px -10000px 0px 0px;
}

#u1053:hover #u1054-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1073
{
	width: 231px;
	min-height: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u1074
{
	width: 231px;
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
}

#u1076-4
{
	width: 231px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u1074:hover #u1076-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 231px;
	margin: 0px -10000px 0px 0px;
}

#u1074:hover #u1076-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1059
{
	width: 231px;
	min-height: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 697px;
}

#u1060
{
	width: 231px;
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
}

#u1074.MuseMenuActive,#u1060.MuseMenuActive
{
	width: 231px;
	min-height: 0px;
	margin: 0px;
}

#u1061-4
{
	width: 231px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u1074.MuseMenuActive #u1076-4,#u1060:hover #u1061-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 231px;
	margin: 0px -10000px 0px 0px;
}

#u1060.MuseMenuActive #u1061-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 231px;
	margin: 0px -10000px 0px 0px;
}

#u1060:hover #u1061-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1067.MuseMenuActive #u1068-4 p,#u1053.MuseMenuActive #u1054-4 p,#u1074.MuseMenuActive #u1076-4 p,#u1060.MuseMenuActive #u1061-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1049-bw
{
	z-index: 99;
	min-height: 46px;
	margin-top: 25px;
}

#pu1131
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 4px;
}

#u1131
{
	z-index: 98;
	width: 671px;
	height: 315px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1131
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu1119-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 159px;
	margin-left: 676px;
}

#u1119-4
{
	z-index: 78;
	width: 300px;
	min-height: 44px;
	background-color: transparent;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 28px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1120-4
{
	z-index: 82;
	width: 300px;
	min-height: 32px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u1121-4
{
	z-index: 86;
	width: 300px;
	min-height: 43px;
	border-style: solid;
	border-color: #4DB8E2;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1121-2
{
	padding-top: 20px;
}

#u1123
{
	z-index: 77;
	width: 976px;
	border-width: 2px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #F7F7F7;
	padding-bottom: 5px;
	margin-left: 20px;
	position: relative;
}

#u1122-4
{
	z-index: 90;
	width: 240px;
	min-height: 75px;
	background-color: transparent;
	line-height: 84px;
	color: #29ABE2;
	font-size: 70px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 20px;
}

#u1124-4
{
	z-index: 94;
	width: 405px;
	min-height: 71px;
	background-color: transparent;
	line-height: 36px;
	color: #29ABE2;
	font-size: 30px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 273px;
}

#u1096-4
{
	z-index: 72;
	width: 980px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1109
{
	z-index: 76;
	width: 150px;
	height: 2px;
	border-color: #000000;
	background-color: #29ABE2;
	margin-left: 435px;
	margin-top: 9px;
	position: relative;
}

#pu1084
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 10px;
}

#u1084
{
	z-index: 11;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1089
{
	z-index: 12;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1089_position_content
{
	padding-top: 3px;
	padding-bottom: 32px;
}

#u1088
{
	z-index: 13;
	width: 220px;
	height: 220px;
	margin-left: 4px;
	position: relative;
	background: #FFFFFF url("../images/%d1%88%d1%83%d0%b1%d0%b0%d1%80%d0%ba%d0%be%d0%bb%d1%8c.jpg") repeat-x center center;
}

#u1086-4
{
	z-index: 14;
	width: 230px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u1087-5
{
	z-index: 18;
	width: 168px;
	min-height: 60px;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 5px;
	position: relative;
}

#u1087-2
{
	font-size: 12px;
	line-height: 14px;
}

#u1087-3
{
	line-height: 29px;
}

#u1085-4
{
	z-index: 23;
	width: 146px;
	min-height: 29px;
	background-color: #000000;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 42px;
}

#u1085-4:hover
{
	background-color: #29ABE2;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 146px;
	margin: 308px -10000px 0px 0px;
}

#u1103
{
	z-index: 27;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u1104
{
	z-index: 28;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1105
{
	z-index: 29;
	width: 220px;
	height: 220px;
	margin-left: 4px;
	position: relative;
	background: transparent url("../images/344x171-90e4.jpg") no-repeat center center;
}

#u1106-4
{
	z-index: 30;
	width: 230px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u1107-4
{
	z-index: 34;
	width: 230px;
	min-height: 33px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u1108-4
{
	z-index: 38;
	width: 146px;
	min-height: 29px;
	background-color: #000000;
	line-height: 17px;
	margin-left: 41px;
	margin-top: 8px;
	position: relative;
}

#u1097
{
	z-index: 42;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#u1102
{
	z-index: 43;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1101
{
	z-index: 44;
	width: 220px;
	height: 220px;
	margin-left: 4px;
	position: relative;
	background: transparent url("../images/%d1%88%d0%be%d0%bf%d1%82%d1%8b%d0%ba%d0%be%d0%bb%d1%8c.jpg") no-repeat center center;
}

#u1099-4
{
	z-index: 45;
	width: 230px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u1098-4
{
	z-index: 49;
	width: 230px;
	min-height: 33px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u1100-4
{
	z-index: 53;
	width: 146px;
	min-height: 29px;
	background-color: #000000;
	line-height: 17px;
	margin-left: 41px;
	margin-top: 8px;
	position: relative;
}

#u1090
{
	z-index: 57;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 733px;
}

#u1093
{
	z-index: 58;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1104_position_content,#u1102_position_content,#u1093_position_content
{
	padding-top: 3px;
	padding-bottom: 21px;
}

#u1094
{
	z-index: 59;
	width: 220px;
	height: 220px;
	margin-left: 4px;
	position: relative;
	background: transparent url("../images/%d0%b6%d0%b0%d0%bb%d1%8b%d0%bd.jpg") no-repeat center center;
}

#u1095-4
{
	z-index: 60;
	width: 230px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u1092-4
{
	z-index: 64;
	width: 230px;
	min-height: 33px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u1091-4
{
	z-index: 68;
	width: 146px;
	min-height: 29px;
	background-color: #000000;
	line-height: 17px;
	margin-left: 41px;
	margin-top: 8px;
	position: relative;
}

#u1108-4:hover,#u1100-4:hover,#u1091-4:hover
{
	background-color: #29ABE2;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 146px;
	margin: 8px 0px 0px 41px;
}

#u1111-6
{
	z-index: 2;
	width: 980px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 15px;
	position: relative;
}

#u1113
{
	z-index: 8;
	width: 11px;
	background-color: transparent;
}

#u1113_img
{
	vertical-align: bottom;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

